Automated Voice Reminder.json
{
  "name": "Automated Voice Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5357ac8d-1d86-43ed-9243-0d532b5dc747",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "shubhasawa2005@gmail.com",
          "mode": "list",
          "cachedResultName": "shubhasawa2005@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus(12, 'hours') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "87bc8702-519f-497d-8bff-785036be71a9",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BoXtGdC5P0VcueYK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment Details:  {{ $json.description }}\n\nStart time:{{ $json.start.dateTime }}\n\nEnd time: {{ $json.end.dateTime }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an assistant. Generate structured JSON with the following fields:\n\n- name: full name of the recipient\n\n- phone_number: string\n\n- reason: reason for the appointment\n\n- start_time: ISO 8601 datetime (Format is date-time)\n\n- end_time: ISO 8601 datetime (Format is date-time)\n\n- email\n\nOutput ONLY in this exact JSON format. No comments, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "b026ec30-bd05-4eb7-a42b-76aba44748ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "63de6c1b-5597-47e2-91f7-63be6777ca7d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vqV0F7lJgajCMsYW",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\n\"type\": \"object\",\n\n\"properties\": {\n\n\"output\": {\n\n\"type\": \"object\",\n\n\"properties\": {\n\n\"name\": { \"type\": \"string\" },\n\n\"email\": { \"type\": \"string\", \"format\": \"email\" },\n\n\"phone_number\": { \"type\": \"string\" },\n\n\"reason\": { \"type\": \"string\" },\n\n\"start_time\": { \"type\": \"string\", \"format\": \"date-time\" },\n\n\"end_time\": { \"type\": \"string\", \"format\": \"date-time\" }\n\n},\n\n\"required\": [\n\n\"name\",\n\n\"email\",\n\n\"phone_number\",\n\n\"reason\",\n\n\"start_time\",\n\n\"end_time\"\n\n]\n\n}\n\n},\n\n\"required\": [\"output\"]\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "084705fb-8eb1-4a1e-91e7-e47a0201f2ef",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+17128002836",
        "to": "={{ $json.output.phone_number }}",
        "twiml": true,
        "message": "=<Response>\n  <Say voice=\"alice\">{{ $json.output.reason }}</Say>\n</Response>\n",
        "options": {}
      },
      "id": "9c801905-0fbf-4429-830a-810629957112",
      "name": "Twilio Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "credentials": {
        "twilioApi": {
          "id": "JipEEntaIo8jhr6s",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Twilio Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c22ee28-99e4-48b1-8d19-31bfd000322d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad49dd1ad62a8abd5335dea04122d3be59a8b19ed44c6013b841467cc2d7c313"
  },
  "id": "9GYQ3Nyt7Zg0V3Bi",
  "tags": []
}